.nav-warapper{
    padding: 0 2rem;
}

.price{
    font-size: 2rem;
}
.course .price.big{
    font-size: 2.5rem;
}

.card-action.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}